RewriteEngine On

RewriteRule ^assets/js/(.*)$ assets/Js/$1 [L,NC]

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !\.php$ [NC]
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]
